*{
 margin:0;
 padding:0;
}
.input, #library{
    margin:50px auto;
    width: 1000px;
}


.input th, #library td{
    text-align: center;
}

.input{
    display:none;
}

body{
    width: 1200px;
    margin: 0 auto;
    padding-top:50px;
}

.book{
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width:300px;
    height:300px;
    border: 2px solid lightgray;
    border-radius: 3px;
    background-color: lightblue;
    box-shadow: 2px 3px 5px gray;
    font-size: 100%;
    transition:all 2s;
}

.book:hover{
    transform: scale(1.1);
}

.bookInfo{
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}
